body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding-left: 20px;
}

h4, h1, p {
    margin: 0;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB; 
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: 80px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    flex: 1 1 0;
    background-color: gray;
    min-width: 360px;
    margin: 20px 0;
    padding: 60px 0;
    text-align: center;
}

button {
    height: 26px;
    width: 90px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    border: 0px;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    padding: 10px 100px;
}
.header-top, ul {
    display: flex;
    justify-content: space-between;
}

.header-top, .header-bottom {
    margin: 0 40px;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 80px 0;
    flex-wrap: wrap;
    gap: 40px;
}

.header-bottom-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    min-width: 360px;
}



